body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: slategray;
}

#reset-button{
    font-size: 32px;
    margin: 50px;
    padding: 10px;
    border: solid black;
    border-radius: 10px;
    background-color: skyblue;
}

#grid-container{
    display:flex;
    height: 500px;
    width: 500px;
    align-items: stretch;
    border: solid;
}

.grid-column{
    flex: 1;
    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.grid-square{
    flex: 1;
}